---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>
    <!-- 隐藏的访客统计 -->
    <div style="position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0,0,0,0); border: 0;">
      <a href="https://mapmyvisitors.com/web/1bxc3"  title="Visit tracker"><img src="https://mapmyvisitors.com/map.png?d=axViRjet6dzNbyFy3Ga1gq-OT4fMp4qg_lIdwsiLNXo&cl=ffffff" /></a>
    </div>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
